.container {
    /* border-radius: 0.5em; */
    margin: 2em auto;
    width: 90%;
    max-width: 1200px;
    background-color: white;
    padding: 2em;
    /* height: 100%; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}